<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CSS Grid</title>
  </head>
  <body>
    <div
      class="schedule"
      style="
        display: grid;
        grid-template-columns: repeat({{ num_columns }}, {{ col_width }}%);
        grid-template-rows: 1em repeat(3, 4em);
        background-color: grey;
        width: 100%;
      "
    >
      {% for i, t in time_list %}
      <div
        style="grid-column-start: {{ i }}; grid-row-start: 1; background-color: #0000ff"
      >
        {{ t }}
      </div>
      {% endfor %} {% if wed_events %} {% for ev in wed_events %}
      <div
        style="grid-column: 2 / 4; grid-row: 2 / 3; background-color: #0000ff"
      >
        {{ ev.location }}
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %} {{task_df}}
  </body>
</html>
